
    </div><!-- /container-fluid -->
</div> <!-- /container -->

<br><br>

<footer id="bolt-footer" class="hidden-phone">
    {% if app.config.get('general/branding/provided_by/0') %}
        {{ __("Provided by:") }}
        <a href="mailto:{{ app.config.get('general/branding/provided_by/0') }}">
            {{ app.config.get('general/branding/provided_by/1') }}
        </a> -
    {% endif %}
    <i class="icon-cog"></i> <b>Bolt {{ bolt_version }}</b>: {{ __('Sophisticated, lightweight & simple CMS') }} -
    <i class="icon-heart"></i > <a href="{{ path('about') }}">{{ __('About') }}</a> &ndash;
    <i class="icon-external-link"> </i><a href="http://bolt.cm" target="_blank">Bolt.cm</a>
</footer>

</body>

<script>
    var path = "{{ paths.bolt }}"; var asyncpath = "{{ paths.async }}"; var apppath = "{{ paths.app }}";
    var wysiwyg = {
       images: {{ 0 + config.get('general/wysiwyg/images') }},
       tables: {{ 0 + config.get('general/wysiwyg/tables') }},
       anchor: {{ 0 + config.get('general/wysiwyg/anchor') }},
       fontcolor: {{ 0 + config.get('general/wysiwyg/fontcolor') }},
       align: {{ 0 + config.get('general/wysiwyg/align') }},
       subsuper: {{ 0 + config.get('general/wysiwyg/subsuper') }},
       embed: {{ 0 + config.get('general/wysiwyg/embed') }},
       {%  if config.get('general/wysiwyg/ck') is iterable %}ck: {{ config.get('general/wysiwyg/ck')|json_encode()|raw }},{% endif %}
       {%  if config.get('general/wysiwyg/filebrowser') is iterable %}filebrowser: {{ config.get('general/wysiwyg/filebrowser')|json_encode()|raw }}{% else %}filebrowser: false{% endif %}
       };
       $(document).ready(function(){
        $(".delete-selected-items").click(function(e){
            e.preventDefault();
            var r = confirm('Are you sure you want to delete these items?');
            if(r) {
                var itemIds = [];
                $(".item-checkbox:checked").each(function(){
                    itemIds.push($(this).val());
                })
                $.ajax({
                    type: 'POST',
                    url: '/api/delete_items_bulk',
                    data: {
                        items: itemIds
                    },
                    success: function() {
                        window.location.reload();
                    }
                })
            }
        });
        $(".selectall").click(function(evt) {
          var checked = $(this).prop("checked");
          $(".item-checkbox").prop("checked", checked);
        });
       });
</script>

</html>
