{% include '_header.twig' %}

<h1>
  Overview
  <a href="{{ feed_url }}"><i class="fa fa-rss-square"></i></a>
</h1>

<table class="table table-hover table-striped table-overview">

  <thead>
    <th>Country</th>
    {% for domain in domain_list %}
      <th>{{ domain }}</th>
    {% endfor %}
  </thead>

  {% for country in country_list %}
  <tr>
    <th>{{ country_name(country) }}</th>
    {% for domain in domain_list %}
      <td>
          {% if item_map[country][domain]|length > 0 %}
            <ul class="list-unstyled">
              {% for item in item_map[country][domain] %}
                {% if loop.index < 4 %}
                  <li>
                    <a href="{{ item.link }}">
                      {{ item.title }}
                    </a>
                    <span class="date">{{ item.datepublish|date('F j, Y') }}</span>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
            {% if item_map[country][domain]|length > 3 %}
              <a href="/overview/{{ domain }}/{{ country }}" class="more">more &raquo;</a>
            {% endif %}
          {% else %}
            No items.
          {% endif %}
      </td>
    {% endfor %}
  </tr>
  {% endfor %}

</table>

{% include '_footer.twig' %}
