{% include '_header.twig' %}

<h1>
  {{ domain }} - {{ country_name(country) }}
  <a href="{{ feed_url }}"><i class="fa fa-rss-square"></i></a>
</h1>

<ul class="list-unstyled list-overview-more">
  {% for item in item_list %}
    <li>
      <a href="{{ item.link }}">
        {{ item.title }}
      </a>
      <span class="date">{{ item.datepublish|date('F j, Y') }}</span>
    </li>
  {% endfor %}
</ul>

{% include '_footer.twig' %}
