<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <id>{{ feed_id|escape }}</id>
  <title>{{ feed_title|escape }}</title>
  <updated>{{ feed_updated|date('c') }}</updated>
  <author><name>Policy Observatory</name></author>

  {% for item in item_list %}
    <entry>
      <id>{{ site_url }}{{ item.link|escape }}</id>
      <title>{{ item.title|escape }}</title>
      <link href="{{ site_url }}{{ item.link|escape }}" />
      <updated>{{ item.datechanged|date('c') }}</updated>
      <summary>{{ item.description|escape }}</summary>
    </entry>
  {% endfor %}
</feed>
