<!doctype html>
<html lang="{{ htmllang() }}">
    {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
	<head>
        <link rel="icon" href="/theme/default/img/favicon.ico"/>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>
            {% if currentPath == '/' %}
                Policy Observatory of the MAPPING FP7 project
            {% else %}
                {% if record.title is defined %}{{ record.title|striptags }} - {% endif %}{{ app.config.get('general/sitename') }}
            {% endif %}
        </title>

		<meta name="viewport" content="width=device-width, maximum-scale=1.0"/>
        {% if currentPath == '/' %}
            <meta name="description" content="Policy watch from Europe on Privacy, Intellectual Property Rights and Internet Governance policies">
        {% elseif currentPath in '/overview/'  %}
            <meta name="description" content="Policy news from Europe and beyond on Privacy, Intellectual Property Rights and Internet Governance">
        {% elseif currentPath in '/page/ig/' %}
            <meta name="description" content="Tables on comparative policies in Internet Governance from several European countries - develloped under the MAPPING project's Policy Observatory">
        {% elseif currentPath in '/page/ipr/' %}
            <meta name="description" content="Tables on comparative policies in Intellectual Property Rights from several European countries - develloped under the MAPPING project's Policy Observatory">
        {% elseif currentPath in '/page/privacy/' %}
            <meta name="description" content="Tables on comparative policies in Privacy from several European countries - develloped under the MAPPING project's Policy Observatory">
        {% elseif currentPath in '/page/startups/' %}
            <meta name="description" content="Tables on comparative policies in Startups from several European countries - develloped under the MAPPING project's Policy Observatory">
        {% else %}
            {% if record and record.description|length > 0 %}
                <meta name="keywords" content="{% for tag in record.taxonomy.tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}">
            {% endif %}
        {% endif %}

		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{{ paths.theme }}css/site.css"/>

		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		{% if currentPath == '/' %}
		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
		<script src='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js'></script>
		<link href='//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css' rel='stylesheet'>
		{% endif %}

		{{ APTI_EXTRA_HEAD|raw }}

	</head>

	<body>
	<div class="container">

        <div class="row">
            <div class="col-sm-9">
                <h1>
                    <a href="{{ paths.root }}">
                        <img src="/theme/default/img/MAPPING_logo.png" alt="{{ app.config.get('general/sitename') }}"> Policy Observatory
                    </a>
                </h1>
            </div>
            <div class="col-sm-3">
                <form method="get" action="/search" id="searchform" enctype="text/plain" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" value="" placeholder="Search for ..." class="form-control">
                        <button class="btn btn-success">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">


            <div class="col-sm-12">
                {{ menu('main', '_menu_sidebar.twig') }}
                <header id="page-header" role="navigation">
                </header>
            </div>

        </div>

        {% include '_messages.twig' %}

        <div class="row content">
            {% if currentPath == '/' %}
                <div class="col-sm-8">
            {% else %}
                <div class="col-sm-12">
            {% endif %}
