<div class="panel panel-default">
    <div class="panel-heading">
        <span class="blueArrow"></span>
        {{ item.title }}
    </div>
    <div class="panel-date">
        {{ item.datepublish|date("D j M Y, H:i") }}
    </div>
    <div class="panel-body">
        {{ item.description }}
    </div>
    <div class="panel-footer">
            <div class="read-more">
                <a href="/item/{{ item.slug }}">
                    Read more &raquo;
                </a>
            </div>
            
            <div class="taguri">
                {% if item.taxonomy.tags is defined %}
                <p>
                    Tag-uri:
                    {% for tag in item.taxonomy.tags %}
                        {{ tag }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
                {% endif %}
            </div>
    </div>
</div>