{% set menu = mainmenu() %}
<nav class="navbar navbar-default">
    <div class="container">
        <ul class="nav navbar-nav">
            {% for item in menu %}
            <li class="{{ item.class }}">
                <a href="{{ item.path }}">
                    {{ item.label }}
                    {% if item.submenu %}
                        <span class="caret"></span>
                    {% endif %}
                </a>
                {% if item.submenu %}
                    <ul class="dropdown-menu" role="menu">
                        {% for item in item.submenu %}
                            <li class="{{ item.class }}">
                                <a href="{{ item.path }}">
                                    {{ item.label }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>