{% set menu = mainmenu() %}
<ul class="nav nav-pills nav-stacked">
    {% for item in menu %}
    <li class="{{ item.class }} {% if item.submenu %}dropdown{% endif %}">
        <a href="{{ item.link }}">
            {{ item.label }}
            {% if item.submenu %}
                <span class="caret"></span>
            {% endif %}
        </a>
        {% if item.submenu %}
            <ul class="dropdown-menu" role="menu">
                {% for item in item.submenu %}
                    <li class="{{ item.class }}">
                        <a href="{{ item.link }}">
                            {{ item.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>