{% set menu = mainmenu() %}
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        {% for item in menu.left %}
        <li class="{{ item.class }}">
            <a href="{{ item.path }}">
                {{ item.label }}
                {% if item.submenu %}
                    <span class="caret"></span>
                {% endif %}
            </a>
            {% if item.submenu %}
                <ul class="dropdown-menu" role="menu">
                    {% for item in item.submenu %}
                        <li class="{{ item.class }}">
                            <a href="{{ item.path }}">
                                {{ item.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
        {% endfor %}
        {% for item in menu.right %}
        <li class="{{ item.class }} pull-right">
            <a href="{{ item.path }}">
                {{ item.label }}
                {% if item.submenu %}
                    <span class="caret"></span>
                {% endif %}
            </a>
            {% if item.submenu %}
                <ul class="dropdown-menu" role="menu">
                    {% for item in item.submenu %}
                        <li class="{{ item.class }}">
                            <a href="{{ item.path }}">
                                {{ item.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>   
        {% endfor %}   
        <li class="pull-right no-link">
            Policy Overview:
        </li>
    </ul>
</nav>