{% include '_header.twig' %}

<article>

    <h1><a href="{{ record.url }}">{{ record.title }}</a></h1>

    <blockquote>
      <p>{{ record.description }}</p>
      <footer>
        {% setcontent feed = 'feed' where { id: record.feed_id } %}
        Source: <a href="{{ record.url }}">{{ feed.title }}</a>
      </footer>
    </blockquote>


    <p>Country: {{ country_name(record.country) }}</p>

    <p>
      Domains:
      {% for domain in record.related('domains') %}
        {{ domain.title }}
      {% endfor %}
    </p>

    {% if record.taxonomy.publisher %}
    <p>
      Stakeholder:
      {% for k,sk in record.taxonomy.stakeholder %}
        <a class="label label-info" href="/overview/?stakeholder={{ k|replace({'/stakeholder/': ''}) }}">{{ sk }}</a>
      {% endfor %}
    </p>
    {% endif %}

    <p>
      Tags:
      {% for tag in record.taxonomy.tags %}
          <a href="/tags/{{ tag }}">
              {{ tag }}
          </a>
          {% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>

    <p class="meta">
      Posted on {{ record.datepublish|localdate("%A %e %B %Y")}}
    </p>

    <p class="meta">
        {% if user %}
            <a href="/bolt/editcontent/items/{{ record.id }}" target="_blank">
                <span class="glyphicon glyphicon-pencil"></span>
                Edit Item
            </a>
        {% endif %}
    </p>

    <p class="meta">
        {% set previous = record.previous() %}
        {% if previous %}
            Previous item:
            <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
        {% endif %}

        {% set next = record.next() %}
        {% if next %}
            Next item:
            <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
        {% endif %}
    </p>

</article>

{% include '_footer.twig' %}
